body{background-image: url("../images/leaves.jpg");}
h1{color: aliceblue; font-size: 200%;background-color: black;
text-align: center;}
h7{color: aliceblue;
    font-size: 200%;
    background-color:darkslategray;}
li{color:aliceblue;}